.data-e-hora {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.data-e-hora span {
    width: 100%;
    text-align: center;
    color: white;
    font-family: lemon;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    cursor: pointer;
}

.copyStatus {
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    bottom: 20px;
    margin-left: 390px;
    display: none;
}

/* .data-e-hora .copyIcon{
    color: white;
    position: absolute;
    bottom: 4px;
    margin-left: 15px;
    font-size: 13px;
} */

.botoes {
    width: 100%;
    height: 80px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}

.button-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    width: 400px;
}

.button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100px;
}

.botao {
    width: 60px;
    text-align: center;
    border-radius: 100%;
    background: var(--dark-main-color)
}

.button span {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'lemon' !important;
    font-size: 13px;
}

.button-label {
    margin-top: 6px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


@media (min-width: 1200px) {
    .info {
        min-width: 870px;
        max-width: 70%;
        display: flex;
        justify-content: space-around;
    }

    .botoes,
    .data-e-hora {
        width: 50%
    }

    .data-e-hora {
        border-right: solid 1px white
    }

    .data-e-hora img {
        width: 325px;
    }

    .botoes {
        height: 100%;
        margin-top: 0;
    }

    .button-wrap {
        height: inherit
    }

    .botoes a {
        font-size: 80px
    }

    .botao {
        width: 90px
    }

    .button {
        width: 100%;
    }
}

@media(min-width :1600px) {
    .data-e-hora img {
        width: 450px
    }
}