:root {
  --main-color: rgb(203 131 53);
  --main-background-color: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(0, 0, 0) 39%, rgb(128 71 13) 52%, rgb(0 0 0) 100%);
  --dark-main-color: rgb(203 131 53);
  --dropshadow: drop-shadow(3px 12px 10px #000000d4);
}

@media (min-height: 800px) and (max-width: 900px){
  :root{
    --main-background-color: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(0, 0, 0) 35%, rgb(128 71 13) 52%, rgb(0 0 0) 100%);
  }
}

@media (min-height: 1000px) and (max-width: 900px){
  :root{
    --main-background-color: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(0, 0, 0) 28%, rgb(128 71 13) 52%, rgb(0 0 0) 100%);
  }
}

@media (min-width: 901px){
  :root{
    --main-background-color: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(0, 0, 0) 30%, rgb(128 71 13) 52%, rgb(0 0 0) 100%);
  }
}

/* @media (min-height: 800px) and (min-width: 1200px){
  :root{  
    --main-background-color: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(0 0 0) 30%, rgb(128 71 13) 49%, rgb(0, 0, 0) 100%);
  }
} */