@font-face {
    font-family: incriveis;
    src: url(../incriveis.ttf);
}

@font-face {
    font-family: lemon;
    src: url(../lemonmilk.otf);
}

body {
    height: 100vh;
    background: var(--main-color);
}

@media (max-width: 510px) {
    html {
        zoom: 90%
    }
}

@media (max-width: 460px) {
    html {
        zoom: 75%
    }
}

@media (max-width: 400px) {
    html {
        zoom: 60%
    }
}