/* @font-face {
    font-family: incriveis;
    src: url(../incriveis.ttf);
} */

@font-face {
    font-family: reiLeao;
    src: url(../lion_king.otf);
}

@font-face {
    font-family: lemon;
    src: url(../lemonmilk.otf);
}

header,
main,
footer {
    filter: blur(10px)
}

body {
    height: 100vh;
    background: var(--main-background-color);
    /* margin-left: -14px; */
}

@media (max-width: 520px) {
    html {
        zoom: 90%;
        height: 115vh;
    }
}

@media (max-width: 460px) {
    html {
        zoom: 75%;
        height: 135vh;
    }
}

@media (max-width: 400px) {
    html {
        zoom: 60%;
        height: 200vh;
    }
}

a {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

* a:hover {
    cursor: pointer;
}