.apresentacao {
    width: 100%;
}

.apresentacao h1 {
    width: 100%;
    color: rgb(237, 167, 62);
    font-family: incriveis;
    text-align: center;
    font-size: 80px
}

.idade {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lemon;
}

.idade img {
    width: inherit
}

.idade span {
    position: absolute;
    color: white;
    font-size: 45px;
    margin-top: 47px;
}

.frase {
    font-family: lemon;
    color: white;
    margin-top: 95px;
    width: 100%;
    text-align: center;
}

.frase span {
    width: 260px;
}